body{
    background-color: #000000;
    color: #ffffff;
}

.container{
    margin-top: 10%;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#signButton{
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
}

#logButton{
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
}

.structureOuterWrapper{
    margin:0 auto;
	width:780px;
	border:solid 1px #444;
	padding: 0 10px 6px 10px;
	position:relative;
}

.headBanner {
margin: 0;
padding: 0;
}

.bannerLogo{
    float: left;
    padding: 10px 5px 0 4px;
}

.bannerTitle{
margin: 0 280px 0 185px;
padding-top: 20px;
text-align: right;
position: relative;
}

.bannerButtons {
float: right;
text-align: right;
}