/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2014, 1:20:05 AM
    Author     : Bryan
*/

body{
    background-color: #000000;
    color: #ffffff;
}

.structureOuterWrapper{
    margin:0 auto;
	width:780px;
	border:solid 1px #444;
	padding: 0 10px 6px 10px;
	position:relative;
}

.headBanner {
margin: 0;
padding: 0;
}

.bannerLogo{
    float: left;
    padding: 10px 5px 0 4px;
}

.bannerTitle{
margin: 0 280px 0 185px;
padding-top: 20px;
text-align: right;
position: relative;
}

.bannerButtons {
float: right;
text-align: right;
}

div.img { /*from login*/
    height: auto;
    width: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

div.login{ /*from login*/
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}